
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="">Courses</a></li>
                <li class="list-group-item"><a href="">Article</a></li>
                <li class="list-group-item"><a href="">Premium membership</a></li>
                <li class="list-group-item"><a href="">YouTube channe</a></li>
                <li class="list-group-item"><a href="">Privacy Policy</a></li>
                <li class="list-group-item"><a href="">Terms</a></li>
                <li class="list-group-item"><a href="">2017 Codecourse Ltd</a></li>
                <li class="list-group-item"><a href="">Find us on Twitter and YouTube</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled">
                <li class="list-group-item"><a href="">Privacy Policy</a></li>
                <li class="list-group-item"><a href="">Terms</a></li>
                <li class="list-group-item"><a href="">Contact us</a></li>
            </ul>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
    </div>
</div>