<div class="col-lg-3">
    <ul class="list-group">
        <li class="list-group-item"><a href="{{path_for('web.user.my.account')}}">Overview</a></li>
        <li class="list-group-item"><a href="{{path_for('web.user.edit_profile')}}">Profile</a></li>
        <li class="list-group-item"><a href="{{path_for('web.user.change.password')}}">Change password</a></li>
    </ul>
</div>
