<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    {% include 'user/partials/css.twig' %}
    {% block css %} {% endblock %}
</head>
    {% block content %} {% endblock %}
</html>
{% include 'user/partials/script.twig' %}
{% block script %}{% endblock %}
