{% extends 'user/templates/template.twig' %}

{% block content %}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path_for('web.home') }}"><b>Admin</b>LTE</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Reset Password</p>
            <form action="{{ path_for('web.user.password.reset') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}

{% block script %}
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
{% endblock %}
