{% extends 'user/beforelogin/templates/template.twig' %}

{% block title %} E-Learning {% endblock %}

{% block css %}
    <style>
        .item{
          font-size: .85em;
          color: #9f9f9f;
        }
    </style>
{% endblock %}

{% block header_content %} Latest Articles {% endblock %}

{% block content %}
<div class="row">
   <div class="col-lg-8">
        <div class="well">
              <div class="timeline-item">

                <h3 class="timeline-header"><a href="{{ path_for('article.detail') }}">Support Team sent you an email</a></h3>
                <span class="time"><i class="fa fa-calendar-o"></i> 1 May 2017, at 12:05</span>

                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...<br><br>
                </div>

                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs" href="#">Read more</a>
                  <a class="btn btn-success btn-xs" href="#">8 Comment</a>
                </div>
              </div>
<hr>
              <div class="timeline-item">

                <h3 class="timeline-header"><a href="{{ path_for('article.detail') }}">Support Team sent you an email</a></h3>
                <span class="time"><i class="fa fa-calendar-o"></i> 1 May 2017, at 12:05</span>

                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...<br><br>
                </div>

                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs" href="#">Read more</a>
                  <a class="btn btn-success btn-xs" href="#">8 Comment</a>
                </div>
              </div>
<hr>
              <div class="timeline-item">

                <h3 class="timeline-header"><a href="{{ path_for('article.detail') }}">Support Team sent you an email</a></h3>
                <span class="time"><i class="fa fa-calendar-o"></i> 1 May 2017, at 12:05</span>

                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...<br><br>
                </div>

                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs" href="#">Read more</a>
                  <a class="btn btn-success btn-xs" href="#">8 Comment</a>
                </div>
              </div>

        </div>
  </div>
   <div class="col-lg-4">
        <div class="well">

        <h3>
          Search Article
        </h3>
                <form role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                  </div>
                </form>
        </div>
  </div>
</div>
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1 class="text-center">
           What people are saying  
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
<div class="row">

        <!-- /.box -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
{% endblock %}