{% extends 'users/app.twig' %}

{% block title %} New Article {% endblock %}
{% block css %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
{% endblock %}
{% block content %}

    {% include 'templates/flash/flash.twig' %}
    <form method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" value="{{article.title}}">
        </div>


        <div class="form-group">
            <label for="tag">Tag:</label>
            <select class="form-control" id="category" name="category[]" multiple="multiple">
                {% if category %}
                    {#% for article in article %}
                        <option value="{{category.name}}">{{category.name}}</option>
                    {% endfor %#}
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <textarea name="content" id="summernote">{{article.content|raw}}</textarea>
        </div>
        <button type="submit">Create</button>
    </form>

{% endblock %}

{% block script %}
{% include 'articles/partials/script.twig' %}
{% endblock %}
