{% extends 'user/beforelogin/templates/template.twig' %}

{% block title %} E-Learning {% endblock %}

{% block content %}
  {% include 'templates/flash/flash.twig'%}
  <div class="row">
   <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><a href="{# path_for('dashboard.detail') #}"><strong>Build a URL shortener</strong></a></h3>
          </div>
          <div class="box-body">
            Wait, URL shorteners are boring right? Nope. We're building a fully tested Lumen API, Vue.js client and implementing 301 redirects with Node.js and Express.
            <br><br>
            <button type="button" class="btn btn-sm btn-default disabled">Slim</button>
            <button type="button" class="btn btn-sm btn-default disabled">Redis</button>
            <br><br>
            <div>
              <div class="col-sm-4">
               <i class="fa fa-tasks item"> 16 parts</i>
               </div>
              <div class="col-sm-4">
                <i class="fa fa-clock-o item"> 1 hour 41 min</i>
              </div>
              <div class="col-sm-4">
                <p class="item">6 days ago</p>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
  </div>
     <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><a href="{# path_for('dashboard.detail') #}"><strong>Build a URL shortener</strong></a></h3>
          </div>
          <div class="box-body">
            Wait, URL shorteners are boring right? Nope. We're building a fully tested Lumen API, Vue.js client and implementing 301 redirects with Node.js and Express.
            <br><br>
            <button type="button" class="btn btn-sm btn-default disabled">Slim</button>
            <button type="button" class="btn btn-sm btn-default disabled">Redis</button>
            <br><br>
            <div>
              <div class="col-sm-4">
               <i class="fa fa-tasks item"> 16 parts</i>
               </div>
              <div class="col-sm-4">
                <i class="fa fa-clock-o item"> 1 hour 41 min</i>
              </div>
              <div class="col-sm-4">
                <p class="item">6 days ago</p>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
  </div>
     <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><a href="{# path_for('dashboard.detail') #}"><strong>Build a URL shortener</strong></a></h3>
          </div>
          <div class="box-body">
            Wait, URL shorteners are boring right? Nope. We're building a fully tested Lumen API, Vue.js client and implementing 301 redirects with Node.js and Express.
            <br><br>
            <button type="button" class="btn btn-sm btn-default disabled">Slim</button>
            <button type="button" class="btn btn-sm btn-default disabled">Redis</button>
            <br><br>
            <div>
              <div class="col-sm-4">
               <i class="fa fa-tasks item"> 16 parts</i>
               </div>
              <div class="col-sm-4">
                <i class="fa fa-clock-o item"> 1 hour 41 min</i>
              </div>
              <div class="col-sm-4">
                <p class="item">6 days ago</p>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
  </div>
     <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><a href="{# path_for('dashboard.detail') #}"><strong>Build a URL shortener</strong></a></h3>
          </div>
          <div class="box-body">
            Wait, URL shorteners are boring right? Nope. We're building a fully tested Lumen API, Vue.js client and implementing 301 redirects with Node.js and Express.
            <br><br>
            <button type="button" class="btn btn-sm btn-default disabled">Slim</button>
            <button type="button" class="btn btn-sm btn-default disabled">Redis</button>
            <br><br>
            <div>
              <div class="col-sm-4">
               <i class="fa fa-tasks item"> 16 parts</i>
               </div>
              <div class="col-sm-4">
                <i class="fa fa-clock-o item"> 1 hour 41 min</i>
              </div>
              <div class="col-sm-4">
                <p class="item">6 days ago</p>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
  </div>
     <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><a href="{# path_for('dashboard.detail') #}"><strong>Build a URL shortener</strong></a></h3>
          </div>
          <div class="box-body">
            Wait, URL shorteners are boring right? Nope. We're building a fully tested Lumen API, Vue.js client and implementing 301 redirects with Node.js and Express.
            <br><br>
            <button type="button" class="btn btn-sm btn-default disabled">Slim</button>
            <button type="button" class="btn btn-sm btn-default disabled">Redis</button>
            <br><br>
            <div>
              <div class="col-sm-4">
               <i class="fa fa-tasks item"> 16 parts</i>
               </div>
              <div class="col-sm-4">
                <i class="fa fa-clock-o item"> 1 hour 41 min</i>
              </div>
              <div class="col-sm-4">
                <p class="item">6 days ago</p>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
  </div>
     <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"><a href="{# path_for('dashboard.detail') #}"><strong>Build a URL shortener</strong></a></h3>
          </div>
          <div class="box-body">
            Wait, URL shorteners are boring right? Nope. We're building a fully tested Lumen API, Vue.js client and implementing 301 redirects with Node.js and Express.
            <br><br>
            <button type="button" class="btn btn-sm btn-default disabled">Slim</button>
            <button type="button" class="btn btn-sm btn-default disabled">Redis</button>
            <br><br>
            <div>
              <div class="col-sm-4">
               <i class="fa fa-tasks item"> 16 parts</i>
               </div>
              <div class="col-sm-4">
                <i class="fa fa-clock-o item"> 1 hour 41 min</i>
              </div>
              <div class="col-sm-4">
                <p class="item">6 days ago</p>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
  </div>
</div>

      <!-- /.content -->
    </div>
{% endblock %}
