<div class="pull-right hidden-xs">
    <strong>[ ] with <i class="fa fa-heart" style="font-size:12px;color:red"></i> in Indonesia</strong>
</div>
<strong>Copyright &copy; 2017 <a href="#">MIT School</a>.</strong> All rights reserved.