{% block page.header %}
    New content
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Url</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Short Description</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>

            <div class="box-footer text-center">
                <button type="submit" class="btn btn-primary btn-flat">Create</button>
            </div>
        </form>
    </div>
{% endblock %}