{% extends 'user/beforelogin/templates/template.twig' %}

{% block title %} {% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form  method="post">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Edit</th>
                            </thead>
                            <tbody>
                                {% for a in b %}
                                <tr>
                                    <td>{{}}</td>
                                    <td>{{}}</td>
                                    <td>{{}}</td>
                                    <td>{{}}</td>
                                    <td class="text-center"><input type="checkbox" name="user_id" value="{{}}"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="panel-body" align="right">
                            <button type="submit" name="role">Change Role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
