{% block page.header %}
    Profile
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="dist/img/user2-160x160.jpg" alt="User profile picture">
            <h3 class="profile-username text-center">Alexander Pierce</h3>

            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tr>
                        <th>Username</th>
                        <td>alexanderganteng</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>alexander@mail.com</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>+6281234567890</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="box-tools">
                <a href="" class="btn btn-primary btn-sm center-block">Edit Profile</a>
            </div>
        </div>
    </div>
{% endblock %}