{% extends 'users/app.twig' %}

{% block title %} E-Learning-Profile {% endblock %}

{% block content %}
<div class="row">
{% include 'users/partials/sidebar_account.twig' %}
	<div class="col-lg-9">
        <h3>Profile</h3>
        {% include 'templates/flash/flash.twig' %}
        <div class="box box-primary"> 
            <form id="form" method="post" action="">
            	<div class="box-body row">
            		<div class="col-xs-9">
                    	<div class="form-group">
                    		<label for="name">Old Password:</label>
                        	<input type="password" class="form-control" id="old_password" placeholder="Old Password" name="old_password">
                    	</div>
                    	<div class="form-group">
                    		<label for="name">New Password:</label>
                        	<input type="password" class="form-control" id="new_password" placeholder="Old Password" name="new_password">
                    	</div>
						<div class="form-group">
                    		<label for="name">Retype Password:</label>
                        	<input type="password" class="form-control" id="retype_password" placeholder="Old Password" name="retype_password">
                    	</div>
                    <button type="submit" class="btn btn-default">Change Password</button>
                    </div>
            	</div>
            </form>
        </div>
    </div>
</div>